M04

import sqlite3
conn=sqlite3.connect('books.db')
c=conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20),year int)')
conn.commit()

In [36]:
import pandas as pd

read_books=pd.read_csv('books.csv',encoding='unicode_escape')


read_books.to_sql('books',conn,if_exists='append',index=False)

5

In [39]:
c.execute('select distinct(title) from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

In [42]:
r= c.execute('select distinct(title),author,year from books order by year')
df=pd.DataFrame(r.fetchall(),columns=['title','author','year'])
df.head()

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

#use the sqlalchemy module to connect to the aqlite3 database books.db that you just made in above
import sqlalchemy

In [58]:
Q_16.8:

import sqlalchemy
engine=sqlalchemy.create_engine("sqlite:///books.db")
rows=engine.execute('select distinct*from books')
for i in (rows):
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)